@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать в Contoso University</h2>
        <p>
            Университет Contoso - это пример приложения, демонстрирующий 
            использование Entity Framework Core в веб-приложении 
            ASP.NET Core Razor Pages.
        </p>
    </div>
</div>